.panel {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    margin-top: 20px;
}

.panel__title {
    margin: 0;
    font-size: 14px;
    color:#999;
}

.panel__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:15px;
    padding-left:7px;
    padding-right:7px;
}

.panel__actions {
    font-size: 12px;
    font-weight: 600;
}

.panel__children > * {
    margin-bottom: 5px;
}


.panel__children {
    overflow-y: scroll;
    max-height: 220px;
}