.header {
    display:flex;
    flex-direction: row;
    flex:1;
    justify-content:space-between;
    align-content: center;
    height: 100%;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__left {
    padding-left: 50px;
   
}

.header__right {
    padding-right: 50px;
}

.header__instagram {
    padding-left: 10px;
    padding-top: 7px;

}